<div class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-title">What we are?</div>
                <p>{{ about.whatweare|safe }}</p>
            </div>
        </div>
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-title">Who we are?</div>
                <p>{{ about.whoweare }}</p>
            </div>
        </div>
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-title">What we do?</div>
                <p>{{ about.whatwedo }}</p>
            </div>
        </div>
    </div>
</div>